node_modules
.nuxt
.output
dist
.git
.github
.vscode
.husky
*.log
*.md
!README.md
.DS_Store
.env*.local
coverage
.cache
apps/vscode/
apps/vscode-web/src/
apps/vscode-web/public/
apps/vscode-web/node_modules/
docs/
scripts/
