:root {
  --composer-pane-background:#191c22;

   --vscode-foreground: #7b88a1;
   --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
   --vscode-errorForeground: #bf616a;
   --vscode-descriptionForeground: rgba(123, 136, 161, 0.7);
   --vscode-icon-foreground: #c5c5c5;
   --vscode-focusBorder: rgba(0, 0, 0, 0);
   --vscode-selection-background: rgba(136, 192, 208, 0.2);
   --vscode-textLink-foreground: #8fbcbb;
   --vscode-textLink-activeForeground: #8fbcbb;
   --vscode-textSeparator-foreground: #8fbcbb;
   --vscode-textPreformat-foreground: #8fbcbb;
   --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
   --vscode-textBlockQuote-background: #222222;
   --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
   --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
   --vscode-sash-hoverBorder: rgba(0, 0, 0, 0);
   --vscode-badge-background: #88c0d0;
   --vscode-badge-foreground: #1d2128;
   --vscode-activityWarningBadge-foreground: #000000;
   --vscode-activityWarningBadge-background: #cca700;
   --vscode-activityErrorBadge-foreground: #000000;
   --vscode-activityErrorBadge-background: #f14c4c;
   --vscode-scrollbar-shadow: rgba(0, 0, 0, 0);
   --vscode-scrollbarSlider-background: rgba(67, 76, 94, 0.33);
   --vscode-scrollbarSlider-hoverBackground: rgba(67, 76, 94, 0.33);
   --vscode-scrollbarSlider-activeBackground: rgba(67, 76, 94, 0.33);
   --vscode-progressBar-background: #88c0d0;
   --vscode-chart-line: #236b8e;
   --vscode-chart-axis: rgba(191, 191, 191, 0.4);
   --vscode-chart-guide: rgba(191, 191, 191, 0.2);
   --vscode-editor-background: #1e2127;
   --vscode-editor-foreground: #7b88a1;
   --vscode-editorStickyScroll-background: #1e2127;
   --vscode-editorStickyScrollHover-background: #2a2d2e;
   --vscode-editorStickyScroll-shadow: rgba(0, 0, 0, 0);
   --vscode-editorWidget-background: #191c22;
   --vscode-editorWidget-foreground: #7b88a1;
   --vscode-editorWidget-border: #454545;
   --vscode-editorWidget-resizeBorder: #88c0d0;
   --vscode-editorError-foreground: #bf616a;
   --vscode-editorError-border: rgba(191, 97, 106, 0);
   --vscode-editorWarning-foreground: #ebcb8b;
   --vscode-editorWarning-border: rgba(235, 203, 139, 0);
   --vscode-editorInfo-foreground: #3794ff;
   --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
   --vscode-editorLink-activeForeground: #88c0d0;
   --vscode-editor-selectionBackground: rgba(67, 76, 94, 0.6);
   --vscode-editor-inactiveSelectionBackground: rgba(67, 76, 94, 0.47);
   --vscode-editor-selectionHighlightBackground: rgba(67, 76, 94, 0.8);
   --vscode-editor-compositionBorder: #ffffff;
   --vscode-editor-findMatchBackground: rgba(136, 192, 208, 0.4);
   --vscode-editor-findMatchHighlightBackground: rgba(136, 192, 208, 0.2);
   --vscode-editor-findRangeHighlightBackground: rgba(136, 192, 208, 0.2);
   --vscode-editor-hoverHighlightBackground: #20242c;
   --vscode-editorHoverWidget-background: #20242c;
   --vscode-editorHoverWidget-foreground: #7b88a1;
   --vscode-editorHoverWidget-border: #272c36;
   --vscode-editorHoverWidget-statusBarBackground: #262b35;
   --vscode-editorInlayHint-foreground: #4c566a;
   --vscode-editorInlayHint-background: rgba(0, 0, 0, 0);
   --vscode-editorInlayHint-typeForeground: #4c566a;
   --vscode-editorInlayHint-typeBackground: rgba(0, 0, 0, 0);
   --vscode-editorInlayHint-parameterForeground: #4c566a;
   --vscode-editorInlayHint-parameterBackground: rgba(0, 0, 0, 0);
   --vscode-editorLightBulb-foreground: #ffcc00;
   --vscode-editorLightBulbAutoFix-foreground: #75beff;
   --vscode-editorLightBulbAi-foreground: #ffcc00;
   --vscode-editor-snippetTabstopHighlightBackground: rgba(123, 136, 161, 0.33);
   --vscode-editor-snippetFinalTabstopHighlightBorder: #7b88a1;
   --vscode-diffEditor-insertedTextBackground: rgba(163, 190, 140, 0.13);
   --vscode-diffEditor-removedTextBackground: rgba(191, 97, 106, 0.13);
   --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
   --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
   --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
   --vscode-diffEditor-unchangedRegionBackground: #191c22;
   --vscode-diffEditor-unchangedRegionForeground: #7b88a1;
   --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
   --vscode-widget-shadow: rgba(0, 0, 0, 0.4);
   --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
   --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
   --vscode-breadcrumb-foreground: rgba(123, 136, 161, 0.6);
   --vscode-breadcrumb-background: #1e2127;
   --vscode-breadcrumb-focusForeground: #8c97ad;
   --vscode-breadcrumb-activeSelectionForeground: #d8dee9;
   --vscode-breadcrumbPicker-background: #191c22;
   --vscode-merge-currentHeaderBackground: rgba(129, 161, 193, 0.4);
   --vscode-merge-currentContentBackground: rgba(129, 161, 193, 0.3);
   --vscode-merge-incomingHeaderBackground: rgba(143, 188, 187, 0.4);
   --vscode-merge-incomingContentBackground: rgba(143, 188, 187, 0.3);
   --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
   --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
   --vscode-merge-border: rgba(39, 44, 54, 0);
   --vscode-editorOverviewRuler-currentContentForeground: #bf616a;
   --vscode-editorOverviewRuler-incomingContentForeground: #bf616a;
   --vscode-editorOverviewRuler-commonContentForeground: #bf616a;
   --vscode-editorOverviewRuler-findMatchForeground: rgba(0, 0, 0, 0);
   --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(0, 0, 0, 0);
   --vscode-problemsErrorIcon-foreground: #bf616a;
   --vscode-problemsWarningIcon-foreground: #ebcb8b;
   --vscode-problemsInfoIcon-foreground: #3794ff;
   --vscode-minimap-findMatchHighlight: #d18616;
   --vscode-minimap-selectionOccurrenceHighlight: #676767;
   --vscode-minimap-selectionHighlight: #264f78;
   --vscode-minimap-infoHighlight: #3794ff;
   --vscode-minimap-warningHighlight: #ebcb8b;
   --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
   --vscode-minimap-foregroundOpacity: #000000;
   --vscode-minimapSlider-background: rgba(67, 76, 94, 0.17);
   --vscode-minimapSlider-hoverBackground: rgba(67, 76, 94, 0.17);
   --vscode-minimapSlider-activeBackground: rgba(67, 76, 94, 0.17);
   --vscode-charts-foreground: #7b88a1;
   --vscode-charts-lines: rgba(123, 136, 161, 0.5);
   --vscode-charts-red: #bf616a;
   --vscode-charts-blue: #3794ff;
   --vscode-charts-yellow: #ebcb8b;
   --vscode-charts-orange: #d18616;
   --vscode-charts-green: #89d185;
   --vscode-charts-purple: #b180d7;
   --vscode-input-background: rgba(39, 44, 54, 0.33);
   --vscode-input-foreground: #d8dee9;
   --vscode-input-border: #272c36;
   --vscode-inputOption-activeBorder: #88c0d0;
   --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
   --vscode-inputOption-activeBackground: rgba(0, 0, 0, 0);
   --vscode-inputOption-activeForeground: #ffffff;
   --vscode-input-placeholderForeground: rgba(216, 222, 233, 0.6);
   --vscode-inputValidation-infoBackground: #81a1c1;
   --vscode-inputValidation-infoForeground: #2e3440;
   --vscode-inputValidation-infoBorder: #81a1c1;
   --vscode-inputValidation-warningBackground: #d08770;
   --vscode-inputValidation-warningBorder: #d08770;
   --vscode-inputValidation-errorBackground: #bf616a;
   --vscode-inputValidation-errorBorder: #bf616a;
   --vscode-dropdown-background: #191c22;
   --vscode-dropdown-foreground: #d8dee9;
   --vscode-dropdown-border: #272c36;
   --vscode-button-foreground: #191c22;
   --vscode-button-separator: rgba(25, 28, 34, 0.4);
   --vscode-button-background: #88c0d0;
   --vscode-button-hoverBackground: #98d5e7;
   --vscode-button-secondaryForeground: #d8dee9;
   --vscode-button-secondaryBackground: #434c5e;
   --vscode-button-secondaryHoverBackground: #4c566a;
   --vscode-radio-activeForeground: #ffffff;
   --vscode-radio-activeBackground: rgba(0, 0, 0, 0);
   --vscode-radio-activeBorder: #88c0d0;
   --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
   --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
   --vscode-checkbox-background: #191c22;
   --vscode-checkbox-selectBackground: #191c22;
   --vscode-checkbox-foreground: #d8dee9;
   --vscode-checkbox-border: #272c36;
   --vscode-checkbox-selectBorder: #c5c5c5;
   --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
   --vscode-keybindingLabel-foreground: #cccccc;
   --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
   --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
   --vscode-list-focusBackground: #434c5e;
   --vscode-list-focusForeground: #d8dee9;
   --vscode-list-focusOutline: rgba(0, 0, 0, 0);
   --vscode-list-activeSelectionBackground: #21242b;
   --vscode-list-activeSelectionForeground: #eceff4;
   --vscode-list-inactiveSelectionBackground: #21242b;
   --vscode-list-inactiveSelectionForeground: #eceff4;
   --vscode-list-hoverBackground: rgba(39, 44, 54, 0.6);
   --vscode-list-hoverForeground: #eceff4;
   --vscode-list-dropBackground: rgba(136, 192, 208, 0.6);
   --vscode-list-dropBetweenBackground: #c5c5c5;
   --vscode-list-highlightForeground: #88c0d0;
   --vscode-list-focusHighlightForeground: #88c0d0;
   --vscode-list-invalidItemForeground: #7c818e;
   --vscode-list-errorForeground: #bf616a;
   --vscode-list-warningForeground: #ebcb8b;
   --vscode-listFilterWidget-background: #191c22;
   --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
   --vscode-listFilterWidget-noMatchesOutline: #be1100;
   --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.4);
   --vscode-list-filterMatchBackground: rgba(136, 192, 208, 0.2);
   --vscode-list-deemphasizedForeground: #7c818e;
   --vscode-tree-indentGuidesStroke: rgba(123, 136, 161, 0.33);
   --vscode-tree-inactiveIndentGuidesStroke: rgba(123, 136, 161, 0.13);
   --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
   --vscode-tree-tableOddRowsBackground: rgba(123, 136, 161, 0.04);
   --vscode-editorActionList-background: #191c22;
   --vscode-editorActionList-foreground: #7b88a1;
   --vscode-editorActionList-focusForeground: #eceff4;
   --vscode-editorActionList-focusBackground: #21242b;
   --vscode-menu-foreground: #7b88a1;
   --vscode-menu-background: #191c22;
   --vscode-menu-selectionForeground: #eceff4;
   --vscode-menu-selectionBackground: #21242b;
   --vscode-menu-separatorBackground: #7b88a1;
   --vscode-quickInput-background: #191c22;
   --vscode-quickInput-foreground: #7b88a1;
   --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
   --vscode-pickerGroup-foreground: #d8dee9;
   --vscode-pickerGroup-border: rgba(39, 44, 54, 0);
   --vscode-quickInputList-focusForeground: #eceff4;
   --vscode-quickInputList-focusBackground: #21242b;
   --vscode-search-resultsInfoForeground: rgba(123, 136, 161, 0.65);
   --vscode-searchEditor-findMatchBackground: rgba(136, 192, 208, 0.13);
   --vscode-editor-lineHighlightBackground: rgba(67, 76, 94, 0.2);
   --vscode-editor-lineHighlightBorder: #272930;
   --vscode-editor-rangeHighlightBackground: rgba(67, 76, 94, 0.32);
   --vscode-editor-symbolHighlightBackground: rgba(136, 192, 208, 0.2);
   --vscode-editorCursor-foreground: #d8dee9;
   --vscode-editorMultiCursor-primary-foreground: #d8dee9;
   --vscode-editorMultiCursor-secondary-foreground: #d8dee9;
   --vscode-editorWhitespace-foreground: rgba(76, 86, 106, 0.7);
   --vscode-editorLineNumber-foreground: #4c566a;
   --vscode-editorIndentGuide-background: rgba(67, 76, 94, 0.7);
   --vscode-editorIndentGuide-activeBackground: #4c566a;
   --vscode-editorIndentGuide-background1: rgba(67, 76, 94, 0.7);
   --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-activeBackground1: #4c566a;
   --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
   --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
   --vscode-editorActiveLineNumber-foreground: #c6c6c6;
   --vscode-editorLineNumber-activeForeground: #687692;
   --vscode-editorRuler-foreground: #434c5e;
   --vscode-editorCodeLens-foreground: #4c566a;
   --vscode-editorBracketMatch-background: rgba(25, 28, 34, 0);
   --vscode-editorBracketMatch-border: rgba(136, 192, 208, 0.33);
   --vscode-editorOverviewRuler-border: rgba(0, 0, 0, 0);
   --vscode-editorGutter-background: #1e2127;
   --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
   --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
   --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 0, 0, 0);
   --vscode-editorOverviewRuler-errorForeground: #bf616a;
   --vscode-editorOverviewRuler-warningForeground: #ebcb8b;
   --vscode-editorOverviewRuler-infoForeground: rgba(0, 0, 0, 0);
   --vscode-editorBracketHighlight-foreground1: #ffd700;
   --vscode-editorBracketHighlight-foreground2: #da70d6;
   --vscode-editorBracketHighlight-foreground3: #179fff;
   --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
   --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
   --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
   --vscode-editorBracketHighlight-unexpectedBracket-foreground: rgba(255, 18, 18, 0.8);
   --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
   --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
   --vscode-editorUnicodeHighlight-border: #ebcb8b;
   --vscode-diffEditor-move-border: rgba(139, 139, 139, 0.61);
   --vscode-diffEditor-moveActive-border: #ffa500;
   --vscode-diffEditor-unchangedRegionShadow: #000000;
   --vscode-editorOverviewRuler-bracketMatchForeground: rgba(0, 0, 0, 0);
   --vscode-actionBar-toggledBackground: rgba(0, 0, 0, 0);
   --vscode-symbolIcon-arrayForeground: #7b88a1;
   --vscode-symbolIcon-booleanForeground: #7b88a1;
   --vscode-symbolIcon-classForeground: #ee9d28;
   --vscode-symbolIcon-colorForeground: #7b88a1;
   --vscode-symbolIcon-constantForeground: #7b88a1;
   --vscode-symbolIcon-constructorForeground: #b180d7;
   --vscode-symbolIcon-enumeratorForeground: #ee9d28;
   --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
   --vscode-symbolIcon-eventForeground: #ee9d28;
   --vscode-symbolIcon-fieldForeground: #75beff;
   --vscode-symbolIcon-fileForeground: #7b88a1;
   --vscode-symbolIcon-folderForeground: #7b88a1;
   --vscode-symbolIcon-functionForeground: #b180d7;
   --vscode-symbolIcon-interfaceForeground: #75beff;
   --vscode-symbolIcon-keyForeground: #7b88a1;
   --vscode-symbolIcon-keywordForeground: #7b88a1;
   --vscode-symbolIcon-methodForeground: #b180d7;
   --vscode-symbolIcon-moduleForeground: #7b88a1;
   --vscode-symbolIcon-namespaceForeground: #7b88a1;
   --vscode-symbolIcon-nullForeground: #7b88a1;
   --vscode-symbolIcon-numberForeground: #7b88a1;
   --vscode-symbolIcon-objectForeground: #7b88a1;
   --vscode-symbolIcon-operatorForeground: #7b88a1;
   --vscode-symbolIcon-packageForeground: #7b88a1;
   --vscode-symbolIcon-propertyForeground: #7b88a1;
   --vscode-symbolIcon-referenceForeground: #7b88a1;
   --vscode-symbolIcon-snippetForeground: #7b88a1;
   --vscode-symbolIcon-stringForeground: #7b88a1;
   --vscode-symbolIcon-structForeground: #7b88a1;
   --vscode-symbolIcon-textForeground: #7b88a1;
   --vscode-symbolIcon-typeParameterForeground: #7b88a1;
   --vscode-symbolIcon-unitForeground: #7b88a1;
   --vscode-symbolIcon-variableForeground: #75beff;
   --vscode-peekViewTitle-background: #272c36;
   --vscode-peekViewTitleLabel-foreground: #88c0d0;
   --vscode-peekViewTitleDescription-foreground: #d8dee9;
   --vscode-peekView-border: #4c566a;
   --vscode-peekViewResult-background: #191c22;
   --vscode-peekViewResult-lineForeground: rgba(216, 222, 233, 0.4);
   --vscode-peekViewResult-fileForeground: #88c0d0;
   --vscode-peekViewResult-selectionBackground: #434c5e;
   --vscode-peekViewResult-selectionForeground: #d8dee9;
   --vscode-peekViewEditor-background: #191c22;
   --vscode-peekViewEditorGutter-background: #191c22;
   --vscode-peekViewEditorStickyScroll-background: #191c22;
   --vscode-peekViewResult-matchHighlightBackground: rgba(136, 192, 208, 0.8);
   --vscode-peekViewEditor-matchHighlightBackground: rgba(136, 192, 208, 0.8);
   --vscode-editor-foldBackground: rgba(67, 76, 94, 0.18);
   --vscode-editor-foldPlaceholderForeground: #808080;
   --vscode-editorGutter-foldingControlForeground: #c5c5c5;
   --vscode-editorSuggestWidget-background: #191c22;
   --vscode-editorSuggestWidget-border: #272c36;
   --vscode-editorSuggestWidget-foreground: #d8dee9;
   --vscode-editorSuggestWidget-selectedForeground: #eceff4;
   --vscode-editorSuggestWidget-selectedBackground: #434c5e;
   --vscode-editorSuggestWidget-highlightForeground: #88c0d0;
   --vscode-editorSuggestWidget-focusHighlightForeground: #88c0d0;
   --vscode-editorSuggestWidgetStatus-foreground: rgba(216, 222, 233, 0.5);
   --vscode-inlineEdit-originalBackground: rgba(191, 97, 106, 0.03);
   --vscode-inlineEdit-modifiedBackground: rgba(163, 190, 140, 0.04);
   --vscode-inlineEdit-originalChangedLineBackground: rgba(191, 97, 106, 0.11);
   --vscode-inlineEdit-originalChangedTextBackground: rgba(191, 97, 106, 0.11);
   --vscode-inlineEdit-modifiedChangedLineBackground: rgba(155, 185, 85, 0.14);
   --vscode-inlineEdit-modifiedChangedTextBackground: rgba(163, 190, 140, 0.09);
   --vscode-inlineEdit-gutterIndicator-primaryForeground: #191c22;
   --vscode-inlineEdit-gutterIndicator-primaryBorder: #88c0d0;
   --vscode-inlineEdit-gutterIndicator-primaryBackground: rgba(136, 192, 208, 0.4);
   --vscode-inlineEdit-gutterIndicator-secondaryForeground: #d8dee9;
   --vscode-inlineEdit-gutterIndicator-secondaryBorder: #434c5e;
   --vscode-inlineEdit-gutterIndicator-secondaryBackground: #434c5e;
   --vscode-inlineEdit-gutterIndicator-successfulForeground: #191c22;
   --vscode-inlineEdit-gutterIndicator-successfulBorder: #88c0d0;
   --vscode-inlineEdit-gutterIndicator-successfulBackground: #88c0d0;
   --vscode-inlineEdit-gutterIndicator-background: rgba(25, 28, 34, 0.5);
   --vscode-inlineEdit-originalBorder: rgba(191, 97, 106, 0.13);
   --vscode-inlineEdit-modifiedBorder: rgba(163, 190, 140, 0.13);
   --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgba(163, 190, 140, 0.13);
   --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgba(191, 97, 107, 0.13);
   --vscode-editorMarkerNavigationError-background: rgba(191, 97, 106, 0.75);
   --vscode-editorMarkerNavigationError-headerBackground: rgba(191, 97, 106, 0.07);
   --vscode-editorMarkerNavigationWarning-background: rgba(235, 203, 139, 0.75);
   --vscode-editorMarkerNavigationWarning-headerBackground: rgba(235, 203, 139, 0.07);
   --vscode-editorMarkerNavigationInfo-background: #3794ff;
   --vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
   --vscode-editorMarkerNavigation-background: rgba(94, 129, 172, 0.75);
   --vscode-tab-activeBackground: #1e2127;
   --vscode-tab-unfocusedActiveBackground: #1e2127;
   --vscode-tab-inactiveBackground: #191c22;
   --vscode-tab-unfocusedInactiveBackground: #191c22;
   --vscode-tab-activeForeground: #d8dee9;
   --vscode-tab-inactiveForeground: #4b5163;
   --vscode-tab-unfocusedActiveForeground: rgba(216, 222, 233, 0.6);
   --vscode-tab-unfocusedInactiveForeground: rgba(216, 222, 233, 0.4);
   --vscode-tab-hoverBackground: rgba(136, 192, 208, 0);
   --vscode-tab-unfocusedHoverBackground: rgba(39, 44, 54, 0.7);
   --vscode-tab-border: rgba(255, 255, 255, 0.05);
   --vscode-tab-lastPinnedBorder: rgba(123, 136, 161, 0.33);
   --vscode-tab-activeBorder: #1e2127;
   --vscode-tab-unfocusedActiveBorder: rgba(136, 192, 208, 0);
   --vscode-tab-activeBorderTop: rgba(255, 255, 255, 0);
   --vscode-tab-unfocusedActiveBorderTop: rgba(255, 255, 255, 0);
   --vscode-tab-selectedBorderTop: rgba(255, 255, 255, 0);
   --vscode-tab-selectedBackground: #1e2127;
   --vscode-tab-selectedForeground: #d8dee9;
   --vscode-tab-unfocusedHoverBorder: rgba(136, 192, 208, 0);
   --vscode-tab-dragAndDropBorder: #d8dee9;
   --vscode-tab-activeModifiedBorder: #3399cc;
   --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
   --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
   --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
   --vscode-tab-worktreeBorder: rgba(235, 203, 139, 0.4);
   --vscode-editorPane-background: #1e2127;
   --vscode-editorGroup-emptyBackground: #191c22;
   --vscode-editorGroupHeader-tabsBackground: #191c22;
   --vscode-editorGroupHeader-tabsBorder: rgba(255, 255, 255, 0.05);
   --vscode-editorGroupHeader-noTabsBackground: #191c22;
   --vscode-editorGroup-border: rgba(255, 255, 255, 0.05);
   --vscode-editorGroup-dropBackground: rgba(39, 44, 54, 0.6);
   --vscode-editorGroup-dropIntoPromptForeground: #7b88a1;
   --vscode-editorGroup-dropIntoPromptBackground: #191c22;
   --vscode-sideBySideEditor-horizontalBorder: rgba(255, 255, 255, 0.05);
   --vscode-sideBySideEditor-verticalBorder: rgba(255, 255, 255, 0.05);
   --vscode-banner-background: #21242b;
   --vscode-banner-foreground: #eceff4;
   --vscode-banner-iconForeground: #3794ff;
   --vscode-statusBar-foreground: #4b5163;
   --vscode-statusBar-noFolderForeground: #d8dee9;
   --vscode-statusBar-background: #191c22;
   --vscode-statusBar-noFolderBackground: #191c22;
   --vscode-statusBar-border: rgba(255, 255, 255, 0.05);
   --vscode-statusBar-focusBorder: #4b5163;
   --vscode-statusBar-noFolderBorder: rgba(255, 255, 255, 0.05);
   --vscode-statusBarItem-activeBackground: #4c566a;
   --vscode-statusBarItem-focusBorder: #4b5163;
   --vscode-statusBarItem-hoverBackground: #434c5e;
   --vscode-statusBarItem-hoverForeground: #4b5163;
   --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
   --vscode-statusBarItem-prominentForeground: #4b5163;
   --vscode-statusBarItem-prominentBackground: #272c36;
   --vscode-statusBarItem-prominentHoverForeground: #4b5163;
   --vscode-statusBarItem-prominentHoverBackground: #434c5e;
   --vscode-statusBarItem-errorBackground: #7b3239;
   --vscode-statusBarItem-errorForeground: #ffffff;
   --vscode-statusBarItem-errorHoverForeground: #4b5163;
   --vscode-statusBarItem-errorHoverBackground: #434c5e;
   --vscode-statusBarItem-warningBackground: #bf8b21;
   --vscode-statusBarItem-warningForeground: #ffffff;
   --vscode-statusBarItem-warningHoverForeground: #4b5163;
   --vscode-statusBarItem-warningHoverBackground: #434c5e;
   --vscode-activityBar-background: #191c22;
   --vscode-activityBar-foreground: #7b88a1;
   --vscode-activityBar-inactiveForeground: rgba(123, 136, 161, 0.4);
   --vscode-activityBar-activeBorder: #7b88a1;
   --vscode-activityBar-dropBorder: #7b88a1;
   --vscode-activityBarBadge-background: #88c0d0;
   --vscode-activityBarBadge-foreground: #1d2128;
   --vscode-activityBarTop-foreground: #e7e7e7;
   --vscode-activityBarTop-activeBorder: #e7e7e7;
   --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
   --vscode-activityBarTop-dropBorder: #e7e7e7;
   --vscode-panel-background: #191c22;
   --vscode-panel-border: rgba(255, 255, 255, 0.05);
   --vscode-panelTitle-activeForeground: #ffffff;
   --vscode-panelTitle-inactiveForeground: #7b88a1;
   --vscode-panelTitle-activeBorder: rgba(255, 255, 255, 0);
   --vscode-panelTitleBadge-background: #88c0d0;
   --vscode-panelTitleBadge-foreground: #1d2128;
   --vscode-panelInput-border: #272c36;
   --vscode-panel-dropBorder: #ffffff;
   --vscode-panelSection-dropBackground: rgba(39, 44, 54, 0.6);
   --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
   --vscode-panelSection-border: rgba(255, 255, 255, 0.05);
   --vscode-panelStickyScroll-background: #191c22;
   --vscode-panelStickyScroll-shadow: rgba(0, 0, 0, 0);
   --vscode-profileBadge-background: #4d4d4d;
   --vscode-profileBadge-foreground: #ffffff;
   --vscode-statusBarItem-remoteBackground: #88c0d0;
   --vscode-statusBarItem-remoteForeground: #1d2128;
   --vscode-statusBarItem-remoteHoverForeground: #4b5163;
   --vscode-statusBarItem-remoteHoverBackground: #434c5e;
   --vscode-statusBarItem-offlineBackground: #6c1717;
   --vscode-statusBarItem-offlineForeground: #1d2128;
   --vscode-statusBarItem-offlineHoverForeground: #4b5163;
   --vscode-statusBarItem-offlineHoverBackground: #434c5e;
   --vscode-extensionBadge-remoteBackground: #88c0d0;
   --vscode-extensionBadge-remoteForeground: #1d2128;
   --vscode-sideBar-background: #191c22;
   --vscode-sideBar-foreground: #7c818e;
   --vscode-sideBar-border: rgba(255, 255, 255, 0.05);
   --vscode-sideBarTitle-background: #191c22;
   --vscode-sideBarTitle-foreground: #7b88a1;
   --vscode-sideBar-dropBackground: rgba(39, 44, 54, 0.6);
   --vscode-sideBarSectionHeader-background: #191c22;
   --vscode-sideBarSectionHeader-foreground: #4b5163;
   --vscode-sideBarStickyScroll-background: #191c22;
   --vscode-sideBarStickyScroll-shadow: rgba(0, 0, 0, 0);
   --vscode-titleBar-activeForeground: #4b5163;
   --vscode-titleBar-inactiveForeground: rgba(123, 136, 161, 0.6);
   --vscode-titleBar-activeBackground: #191c22;
   --vscode-titleBar-inactiveBackground: #191c22;
   --vscode-titleBar-border: rgba(255, 255, 255, 0.05);
   --vscode-menubar-selectionForeground: #4b5163;
   --vscode-menubar-selectionBackground: rgba(123, 136, 161, 0.2);
   --vscode-commandCenter-foreground: #4b5163;
   --vscode-commandCenter-activeForeground: #4b5163;
   --vscode-commandCenter-inactiveForeground: rgba(123, 136, 161, 0.6);
   --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
   --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
   --vscode-commandCenter-border: rgba(75, 81, 99, 0.2);
   --vscode-commandCenter-activeBorder: rgba(75, 81, 99, 0.3);
   --vscode-commandCenter-inactiveBorder: rgba(123, 136, 161, 0.15);
   --vscode-notifications-foreground: #d8dee9;
   --vscode-notifications-background: #191c22;
   --vscode-notificationLink-foreground: #88c0d0;
   --vscode-notificationCenterHeader-background: #21252c;
   --vscode-notifications-border: #21252c;
   --vscode-notificationsErrorIcon-foreground: #bf616a;
   --vscode-notificationsWarningIcon-foreground: #ebcb8b;
   --vscode-notificationsInfoIcon-foreground: #3794ff;
   --vscode-debugToolBar-background: #20242c;
   --vscode-debugIcon-startForeground: #89d185;
   --vscode-inlineChat-foreground: #7b88a1;
   --vscode-inlineChat-background: #191c22;
   --vscode-inlineChat-border: #454545;
   --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.4);
   --vscode-inlineChatInput-border: #454545;
   --vscode-inlineChatInput-focusBorder: rgba(0, 0, 0, 0);
   --vscode-inlineChatInput-placeholderForeground: rgba(216, 222, 233, 0.6);
   --vscode-inlineChatInput-background: rgba(39, 44, 54, 0.33);
   --vscode-inlineChatDiff-inserted: rgba(163, 190, 140, 0.07);
   --vscode-editorOverviewRuler-inlineChatInserted: rgba(163, 190, 140, 0.08);
   --vscode-editorMinimap-inlineChatInserted: rgba(163, 190, 140, 0.08);
   --vscode-inlineChatDiff-removed: rgba(191, 97, 106, 0.07);
   --vscode-editorOverviewRuler-inlineChatRemoved: rgba(191, 97, 106, 0.08);
   --vscode-editorWatermark-foreground: rgba(123, 136, 161, 0.6);
   --vscode-extensionButton-background: #88c0d0;
   --vscode-extensionButton-foreground: #191c22;
   --vscode-extensionButton-hoverBackground: #98d5e7;
   --vscode-extensionButton-separator: rgba(25, 28, 34, 0.4);
   --vscode-extensionButton-prominentBackground: #434c5e;
   --vscode-extensionButton-prominentForeground: #d8dee9;
   --vscode-extensionButton-prominentHoverBackground: #4c566a;
   --vscode-extensionIcon-verifiedForeground: #8fbcbb;
   --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
   --vscode-chat-requestBackground: rgba(30, 33, 39, 0.62);
   --vscode-chat-slashCommandBackground: rgba(52, 65, 75, 0.56);
   --vscode-chat-slashCommandForeground: #40a6ff;
   --vscode-chat-avatarBackground: #1f1f1f;
   --vscode-chat-avatarForeground: #7b88a1;
   --vscode-chat-editedFileForeground: #e2c08d;
   --vscode-editor-wordHighlightBackground: rgba(129, 161, 193, 0.4);
   --vscode-editor-wordHighlightStrongBackground: rgba(129, 161, 193, 0.6);
   --vscode-editor-wordHighlightTextBackground: rgba(129, 161, 193, 0.4);
   --vscode-editorOverviewRuler-wordHighlightForeground: rgba(0, 0, 0, 0);
   --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(0, 0, 0, 0);
   --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(0, 0, 0, 0);
   --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
   --vscode-commentsView-unresolvedIcon: rgba(0, 0, 0, 0);
   --vscode-editorCommentsWidget-replyInputBackground: #272c36;
   --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
   --vscode-editorCommentsWidget-unresolvedBorder: rgba(0, 0, 0, 0);
   --vscode-editorCommentsWidget-rangeBackground: rgba(0, 0, 0, 0);
   --vscode-editorCommentsWidget-rangeActiveBackground: rgba(0, 0, 0, 0);
   --vscode-notebook-cellBorderColor: #21242b;
   --vscode-notebook-focusedEditorBorder: rgba(0, 0, 0, 0);
   --vscode-notebookStatusSuccessIcon-foreground: #89d185;
   --vscode-notebookEditorOverviewRuler-runningCellForeground: #89d185;
   --vscode-notebookStatusErrorIcon-foreground: #bf616a;
   --vscode-notebookStatusRunningIcon-foreground: #7b88a1;
   --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
   --vscode-notebook-selectedCellBackground: #21242b;
   --vscode-notebook-selectedCellBorder: #21242b;
   --vscode-notebook-focusedCellBorder: rgba(0, 0, 0, 0);
   --vscode-notebook-inactiveFocusedCellBorder: #21242b;
   --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
   --vscode-notebook-cellInsertionIndicator: rgba(0, 0, 0, 0);
   --vscode-notebookScrollbarSlider-background: rgba(67, 76, 94, 0.33);
   --vscode-notebookScrollbarSlider-hoverBackground: rgba(67, 76, 94, 0.33);
   --vscode-notebookScrollbarSlider-activeBackground: rgba(67, 76, 94, 0.33);
   --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
   --vscode-notebook-cellEditorBackground: #191c22;
   --vscode-notebook-editorBackground: #1e2127;
   --vscode-editorGutter-modifiedBackground: #ebcb8b;
   --vscode-editorGutter-addedBackground: #a3be8c;
   --vscode-editorGutter-deletedBackground: #bf616a;
   --vscode-minimapGutter-modifiedBackground: #ebcb8b;
   --vscode-minimapGutter-addedBackground: #a3be8c;
   --vscode-minimapGutter-deletedBackground: #bf616a;
   --vscode-editorOverviewRuler-modifiedForeground: rgba(235, 203, 139, 0.6);
   --vscode-editorOverviewRuler-addedForeground: rgba(163, 190, 140, 0.6);
   --vscode-editorOverviewRuler-deletedForeground: rgba(191, 97, 106, 0.6);
   --vscode-editorGutter-itemGlyphForeground: #7b88a1;
   --vscode-editorGutter-itemBackground: #21242b;
   --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
   --vscode-editorHoverWidget-highlightForeground: #88c0d0;
   --vscode-editor-placeholder-foreground: rgba(255, 255, 255, 0.34);
   --vscode-terminal-background: #191c22;
   --vscode-terminal-foreground: #d8dee9;
   --vscode-terminalCursor-foreground: #8fbcbb;
   --vscode-terminalCursor-background: rgba(143, 188, 187, 0.13);
   --vscode-terminal-selectionBackground: rgba(67, 76, 94, 0.33);
   --vscode-terminal-inactiveSelectionBackground: rgba(67, 76, 94, 0.17);
   --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
   --vscode-terminalCommandDecoration-successBackground: #1b81a8;
   --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
   --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
   --vscode-terminal-border: rgba(255, 255, 255, 0.05);
   --vscode-terminalOverviewRuler-border: rgba(0, 0, 0, 0);
   --vscode-terminal-findMatchBackground: rgba(136, 192, 208, 0.4);
   --vscode-terminal-hoverHighlightBackground: rgba(32, 36, 44, 0.5);
   --vscode-terminal-findMatchHighlightBackground: rgba(136, 192, 208, 0.2);
   --vscode-terminalOverviewRuler-findMatchForeground: rgba(0, 0, 0, 0);
   --vscode-terminal-dropBackground: rgba(39, 44, 54, 0.6);
   --vscode-terminal-tab-activeBorder: #1e2127;
   --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
   --vscode-scmGraph-historyItemRefColor: #3794ff;
   --vscode-scmGraph-historyItemRemoteRefColor: #b180d7;
   --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
   --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #7b88a1;
   --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #88c0d0;
   --vscode-scmGraph-historyItemHoverLabelForeground: #191c22;
   --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
   --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
   --vscode-scmGraph-foreground1: #ffb000;
   --vscode-scmGraph-foreground2: #dc267f;
   --vscode-scmGraph-foreground3: #994f00;
   --vscode-scmGraph-foreground4: #40b0a6;
   --vscode-scmGraph-foreground5: #b66dff;
   --vscode-editorGutter-commentRangeForeground: #21242b;
   --vscode-editorOverviewRuler-commentForeground: #21242b;
   --vscode-editorOverviewRuler-commentUnresolvedForeground: #21242b;
   --vscode-editorGutter-commentGlyphForeground: #7b88a1;
   --vscode-editorGutter-commentUnresolvedGlyphForeground: #7b88a1;
   --vscode-simpleFindWidget-sashBorder: #454545;
   --vscode-ports-iconRunningProcessForeground: #88c0d0;
   --vscode-settings-headerForeground: #e7e7e7;
   --vscode-settings-settingsHeaderHoverForeground: rgba(231, 231, 231, 0.7);
   --vscode-settings-modifiedItemIndicator: #0c7d9d;
   --vscode-settings-headerBorder: rgba(255, 255, 255, 0.05);
   --vscode-settings-sashBorder: rgba(255, 255, 255, 0.05);
   --vscode-settings-dropdownBackground: #191c22;
   --vscode-settings-dropdownForeground: #d8dee9;
   --vscode-settings-dropdownBorder: #272c36;
   --vscode-settings-dropdownListBorder: #454545;
   --vscode-settings-checkboxBackground: #191c22;
   --vscode-settings-checkboxForeground: #d8dee9;
   --vscode-settings-checkboxBorder: #272c36;
   --vscode-settings-textInputBackground: rgba(39, 44, 54, 0.33);
   --vscode-settings-textInputForeground: #d8dee9;
   --vscode-settings-textInputBorder: #272c36;
   --vscode-settings-numberInputBackground: rgba(39, 44, 54, 0.33);
   --vscode-settings-numberInputForeground: #d8dee9;
   --vscode-settings-numberInputBorder: #272c36;
   --vscode-settings-focusedRowBackground: rgba(39, 44, 54, 0.36);
   --vscode-settings-rowHoverBackground: rgba(39, 44, 54, 0.18);
   --vscode-settings-focusedRowBorder: rgba(0, 0, 0, 0);
   --vscode-keybindingTable-headerBackground: rgba(123, 136, 161, 0.04);
   --vscode-keybindingTable-rowsBackground: rgba(123, 136, 161, 0.04);
   --vscode-debugExceptionWidget-border: #191c22;
   --vscode-debugExceptionWidget-background: #4c566a;
   --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
   --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
   --vscode-debugIcon-breakpointForeground: #e51400;
   --vscode-debugIcon-breakpointDisabledForeground: #848484;
   --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
   --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
   --vscode-debugIcon-breakpointStackframeForeground: #89d185;
   --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
   --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
   --vscode-multiDiffEditor-headerBackground: #262626;
   --vscode-multiDiffEditor-background: #1e2127;
   --vscode-minimap-chatEditHighlight: rgba(30, 33, 39, 0.6);
   --vscode-interactive-activeCodeBorder: #4c566a;
   --vscode-interactive-inactiveCodeBorder: #21242b;
   --vscode-testing-iconFailed: #f14c4c;
   --vscode-testing-iconErrored: #f14c4c;
   --vscode-testing-iconPassed: #73c991;
   --vscode-testing-runAction: #73c991;
   --vscode-testing-iconQueued: #cca700;
   --vscode-testing-iconUnset: #848484;
   --vscode-testing-iconSkipped: #848484;
   --vscode-testing-peekBorder: #bf616a;
   --vscode-testing-messagePeekBorder: #3794ff;
   --vscode-testing-peekHeaderBackground: rgba(191, 97, 106, 0.1);
   --vscode-testing-messagePeekHeaderBackground: rgba(55, 148, 255, 0.1);
   --vscode-testing-coveredBackground: rgba(163, 190, 140, 0.13);
   --vscode-testing-coveredBorder: rgba(163, 190, 140, 0.1);
   --vscode-testing-coveredGutterBackground: rgba(163, 190, 140, 0.08);
   --vscode-testing-uncoveredBranchBackground: #483238;
   --vscode-testing-uncoveredBackground: rgba(191, 97, 106, 0.13);
   --vscode-testing-uncoveredBorder: rgba(191, 97, 106, 0.1);
   --vscode-testing-uncoveredGutterBackground: rgba(191, 97, 106, 0.2);
   --vscode-testing-coverCountBadgeBackground: #88c0d0;
   --vscode-testing-coverCountBadgeForeground: #1d2128;
   --vscode-testing-message-error-badgeBackground: #f14c4c;
   --vscode-testing-message-error-badgeBorder: #f14c4c;
   --vscode-testing-message-error-badgeForeground: #000000;
   --vscode-testing-message-info-decorationForeground: rgba(123, 136, 161, 0.5);
   --vscode-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
   --vscode-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
   --vscode-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
   --vscode-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
   --vscode-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
   --vscode-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
   --vscode-searchEditor-textInputBorder: #272c36;
   --vscode-statusBar-debuggingBackground: #434c5e;
   --vscode-statusBar-debuggingForeground: #d8dee9;
   --vscode-statusBar-debuggingBorder: rgba(255, 255, 255, 0.05);
   --vscode-commandCenter-debuggingBackground: rgba(67, 76, 94, 0.26);
   --vscode-debugTokenExpression-name: #c586c0;
   --vscode-debugTokenExpression-type: #4a90e2;
   --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
   --vscode-debugTokenExpression-string: #ce9178;
   --vscode-debugTokenExpression-boolean: #4e94ce;
   --vscode-debugTokenExpression-number: #b5cea8;
   --vscode-debugTokenExpression-error: #f48771;
   --vscode-debugView-exceptionLabelForeground: #7b88a1;
   --vscode-debugView-exceptionLabelBackground: #6c2022;
   --vscode-debugView-stateLabelForeground: #7b88a1;
   --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
   --vscode-debugView-valueChangedHighlight: #569cd6;
   --vscode-debugConsole-infoForeground: #3794ff;
   --vscode-debugConsole-warningForeground: #ebcb8b;
   --vscode-debugConsole-errorForeground: #bf616a;
   --vscode-debugConsole-sourceForeground: #7b88a1;
   --vscode-debugConsoleInputIcon-foreground: #7b88a1;
   --vscode-debugIcon-pauseForeground: #75beff;
   --vscode-debugIcon-stopForeground: #f48771;
   --vscode-debugIcon-disconnectForeground: #f48771;
   --vscode-debugIcon-restartForeground: #89d185;
   --vscode-debugIcon-stepOverForeground: #75beff;
   --vscode-debugIcon-stepIntoForeground: #75beff;
   --vscode-debugIcon-stepOutForeground: #75beff;
   --vscode-debugIcon-continueForeground: #75beff;
   --vscode-debugIcon-stepBackForeground: #75beff;
   --vscode-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
   --vscode-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
   --vscode-mergeEditor-changeBase-background: #4b1818;
   --vscode-mergeEditor-changeBase-word-background: #6f1313;
   --vscode-mergeEditor-conflict-unhandledUnfocused-border: rgba(255, 166, 0, 0.48);
   --vscode-mergeEditor-conflict-unhandledFocused-border: #ffa600;
   --vscode-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
   --vscode-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
   --vscode-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
   --vscode-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
   --vscode-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
   --vscode-mergeEditor-conflict-input1-background: rgba(129, 161, 193, 0.16);
   --vscode-mergeEditor-conflict-input2-background: rgba(143, 188, 187, 0.16);
   --vscode-extensionIcon-starForeground: #ff8e00;
   --vscode-extensionIcon-preReleaseForeground: #1d9271;
   --vscode-extensionIcon-sponsorForeground: #d758b3;
   --vscode-extensionIcon-privateForeground: rgba(255, 255, 255, 0.38);
   --vscode-terminal-ansiBlack: #272c36;
   --vscode-terminal-ansiRed: #bf616a;
   --vscode-terminal-ansiGreen: #a3be8c;
   --vscode-terminal-ansiYellow: #ebcb8b;
   --vscode-terminal-ansiBlue: #81a1c1;
   --vscode-terminal-ansiMagenta: #7d7c9b;
   --vscode-terminal-ansiCyan: #88c0d0;
   --vscode-terminal-ansiWhite: #e5e9f0;
   --vscode-terminal-ansiBrightBlack: #4c566a;
   --vscode-terminal-ansiBrightRed: #bf616a;
   --vscode-terminal-ansiBrightGreen: #a3be8c;
   --vscode-terminal-ansiBrightYellow: #ebcb8b;
   --vscode-terminal-ansiBrightBlue: #81a1c1;
   --vscode-terminal-ansiBrightMagenta: #b48ead;
   --vscode-terminal-ansiBrightCyan: #8fbcbb;
   --vscode-terminal-ansiBrightWhite: #eceff4;
   --vscode-terminalStickyScrollHover-background: #2a2d2e;
   --vscode-terminalCommandGuide-foreground: #21242b;
   --vscode-terminalSymbolIcon-flagForeground: #ee9d28;
   --vscode-terminalSymbolIcon-aliasForeground: #b180d7;
   --vscode-terminalSymbolIcon-optionValueForeground: #75beff;
   --vscode-terminalSymbolIcon-methodForeground: #b180d7;
   --vscode-terminalSymbolIcon-argumentForeground: #75beff;
   --vscode-terminalSymbolIcon-optionForeground: #ee9d28;
   --vscode-terminalSymbolIcon-fileForeground: #7b88a1;
   --vscode-terminalSymbolIcon-folderForeground: #7b88a1;
   --vscode-welcomePage-tileBackground: #191c22;
   --vscode-welcomePage-tileHoverBackground: #1e2229;
   --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
   --vscode-welcomePage-progress-background: rgba(39, 44, 54, 0.33);
   --vscode-welcomePage-progress-foreground: #8fbcbb;
   --vscode-walkthrough-stepTitle-foreground: #ffffff;
   --vscode-walkThrough-embeddedEditorBackground: #191c22;
   --vscode-profiles-sashBorder: rgba(255, 255, 255, 0.05);
   --vscode-gitDecoration-addedResourceForeground: #a3be8c;
   --vscode-gitDecoration-modifiedResourceForeground: #ebcb8b;
   --vscode-gitDecoration-deletedResourceForeground: #bf616a;
   --vscode-gitDecoration-renamedResourceForeground: #73c991;
   --vscode-gitDecoration-untrackedResourceForeground: #88c0d0;
   --vscode-gitDecoration-ignoredResourceForeground: #4b5163;
   --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
   --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
   --vscode-gitDecoration-conflictingResourceForeground: #e4676b;
   --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
   --vscode-git-blame-editorDecorationForeground: #4c566a;
}
